langgraph
langgraph-supervisor
langchain
langsmith
ipykernel
python-dotenv
langchain-groq
langchain-openai
langchain_tavily
langchain-google-genai 
google-generativeai
chromadb
langchain_chroma
langchain_community
langchain_experimental
beautifulsoup4
tiktoken
langchain_huggingface
sentence-transformers
duckduckgo-search
google-search-results
matplotlib